@model IEnumerable<TermProject.Models.AdItem>
@using  TermProject.Models

@{
  
    if(((TermProject.Models.user)Session["user"] != null))
    {
        Layout = "~/Views/Shared/UserIndex.cshtml";
        ViewBag.Title = "LAM";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
        ViewBag.Title = "LAM";
    }
}

<!DOCTYPE html>
<html>
<head>


    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    @*<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">*@
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>*@
    <script src="~/Scripts/jquery.min.js"></script>
    @*<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>*@

    
    <!--JQuery-->
    <title></title>
    <script>
        $(function () {
            $('.carousel').carousel({
                interval: 5000
            })
        })
        </script>
    <script>
        $(function () {
            $("#searchby").autocomplete({
                source: '@Url.Action("getAutoComplete")'
            });
        });

    </script>
    <!--JQuery-->
    <style>
        html, body {
            background-image: url('/Images/1.jpg');
        }

            .intro-block {       
                padding: 0px 20px 10px 10px;
                color: #fff;
            }

            .text-muted {
                color: #e9e6df;
                font-weight: 100;
            }
            .tpad {
                width:50px;
                height:50px;
                padding-top: 15px;
            }
            .carousel-caption {
                z-index: 10;
            }
            .carousel-inner > .item > img {
                position: absolute;
                top: 0px;
                left: 0;
                min-width: 100%;
                height: auto;
            }
            .carousel-inner > .item {
                height: 500px;
            }
            .well {
                color:chocolate;
                background-image: url('/Images/background.jpg');
                background-repeat:repeat;
                height: auto;
                border-left: hidden;
                border-right: hidden;
                margin-top: 1%;
                margin-left: 10%;
                margin-right: 10%;
            }

    </style>
</head>
<body>

    <!-- End Navigation-->
    <div class="intro-block">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <img class="img-responsive tpad" src="~/Images/Logo.png" />
                    <h3>Lahore AD Market </h3>
                </div>
                @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                {
                    <div class="col-xs-6 sidebar">
                    <input required="required" type="text" name="search" id="search" class="form-control input-lg" placeholder="Search"  style="margin-top:2%"/><br />
                    <input type="submit" value="Search" style="background-color:darkgrey"/>
                    <b></b>@Html.RadioButton("SearchBy", "AdName", true)<text style="color:darkblue">Product Name</text>
                                     @Html.RadioButton("SearchBy", "Category")<text style="color:darkblue">Category</text>
                                     @Html.RadioButton("SearchBy", "Address")<text style="color:darkblue">Location</text>
                    </div>
                }
                </div>
        </div>
    </div>
    <!-- End Intro -->
    <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Images/sony-xperia-tablet-z-android-hd-wallpaper.jpg" />
                <div class="container active">
                    <div class="carousel-caption">
                        <h1>Lahore Ad Market</h1>
                        <p>A Better Platform to Buy and Sell</p>
                        <p><a href="~/Ad/postAd" class="btn btn-primary btn-large">Post an AD</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/Images/laptop-hd-wallpapers-free.jpg" />
                <div class="container active">
                    <div class="carousel-caption">
                        <h1>Lahore Ad Market</h1>
                        <p>Better Platform to Buy and Sell</p>
                        <p><a href="~/Ad/postAd" class="btn btn-primary btn-large">post an AD</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/Images/honda-vezel-japanese-market-model-at-2013-tokyo-motor-show_100446658_l.jpg" />
                <div class="container active">
                    <div class="carousel-caption">
                        <h1>Lahore Ad Market</h1>
                        <p>Better Platform to Buy and Sell</p>
                        <p><a href="~/Ad/postAd" class="btn btn-primary btn-large">post an AD</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- End Carousel -->
    <!-- Ad Section Started -->
    <div class="myAds" style="color:#0000FF">
        <div class="well">
            <center><h2 style="color:InfoBackground">Recent Ads</h2></center>
            <hr />
            @if (Model.Count() == 0)
            {
                <center><h3 style="color:InfoBackground">No Ads Found</h3></center> 
            }
            else
            {
                foreach (var s in Model)
                {
                <hr />
                <a href="~/Home/DetailAd/@s.Id" style="color:chocolate">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                <img class="img-responsive" src ="/DbImages/@s.image1" style="height:250px";"width=270px"/>
                            </div>
                            <div class="col-sm-5">
                                <h1>@s.AdTitle</h1>
                                <h4>@s.Address</h4>
                                <h4>@s.Name</h4>
                                <br />
                                <h4>Price:&nbsp&nbsp @s.Price &nbsp&nbsp&nbsp Phone:&nbsp&nbsp @s.Phone</h4>
                                <h5>@s.DateTime</h5>
                            </div>
                        </div>
                    </div>
                </a>
                }
            }
        </div>
    </div>
</body>
</html>
